
# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
/public
.DS_Store

# Environment file
.env*

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/
tsconfig.json
jsconfig.json

# Webstorm
.idea/
